{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   My Music Player
  </title>
  
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
  <link href="{% static './style.css' %}" rel="stylesheet"/>
 </head>
 <body>
    <div class="contain">
        <div class="container">
            <div class="music-player1">
                
                  <div><center><h1>SELECT THE ARTIST</h1></center></div>
                
                <div>
                    <h3>1.ANIRUDH</h3>
                </div>
        </div>
    </div>

 </body>